* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url('../img/cursor.svg') 10 10, auto;
}

:root {
    --black: #171717;
    --white: #FFF;
    --orange: #f25929;
    --blue: #0000DC;
    --red: #FF0000;
    --yellow: #FFF810;
    --pink: #FF6DEC;
    --true-black: #000000;
}

@media (max-width: 992px) {
    :root {
        font-size: 15px;
    }
}

@media (max-width: 576px) {
    :root {
        font-size: 14px;
    }
}

@font-face {
    font-family: 'Acid Grotesk';
    src: url('fonts/FFF-AcidGrotesk-Normal-TRIAL.otf');
}

body {
    font-family: 'Acid Grotesk';
    color: var(--black);
    background-color: var(--white);
}

.container-fluid {
    padding: 0 1.5rem;
}

a {
    color: inherit;
    text-decoration: none;
}


/* HEADER */
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 5rem;
    padding: 0 1.5rem;

    background-color: transparent;

    font-size: 1.4rem;
    text-transform: capitalize;

    z-index: 100;
}

header svg {
    height: 1.4rem;
    width: auto;
    display: block;
}

header svg:hover path {
    fill: #FF6DEC;
}

header a:hover {
    color: #FF6DEC;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    margin-left: 6rem;
}

@media (max-width: 576px) {
    header nav ul li {
        margin-left: 2rem;
    }
}

/* MAIN */
main {
    margin-top: 5rem;
    min-height: calc(100vh - 8rem);
    min-height: calc((var(--vh, 1vh) * 100) - 8rem);
}

/* HOME */

.home main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .home-image img {
    height: 80vh;
    height: calc(var(--vh, 1vh) * 80);
    width: 60vw;
    object-fit: contain;

}

@media (max-width: 992px) {
    .home .home-image img {
        width: 80vw;
    }
}

@media (max-width: 576px) {
    .home .home-image img {
        width: 90vw;
    }
}



/* PROJECTS */
.projects main {
    padding-top: 1.5rem;
}

.projects .card {
    margin-bottom: 1.5rem;
}

.projects .card-image {
    position: relative;
    padding-bottom: 60%;
    margin-bottom: .5rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.projects .card-image:hover .card-image-top {
    opacity: 0;
}

.projects .card-image-top {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity .0s;
}

.projects .card-title {
    font-size: 1rem;
    margin-bottom: .1rem;
}

.projects .card-description {
    font-size: 1rem;
}

.projects .card-title::selection {
    color: var(--red);
    background: var(--pink);
}

.projects .card-description::selection {
    color: var(--red);
    background: var(--pink);
}

/* ABOUT */

.about section {
    padding: 1.5rem 0;
}

.about .about-text {
    font-size: 3.5rem;
    margin-bottom: 3rem;
}

@media(max-width: 992px) {
    .about .about-text {
        font-size: 3.5rem;
    }
}

@media(max-width: 576px) {
    .about .about-text {
        font-size: 2.5rem;
    }
}

.about .section-title {
    font-size: 1.2rem;
    top: 6.5rem;
}

.about .section-content {
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin-bottom: 2rem;
}

.about .section-content ul {
    list-style: none;
}

@media(max-width: 992px) {
    .about .section-title {
        margin-bottom: 1rem;
    }
}

.about .section-content-timeline {
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin-bottom: 2rem;

}

.about .section-content .about-link:hover {
    transition: .1s;
    color: var(--red);
    background-color: var(--pink);
}

.about .section-content-timeline .about-link:hover {
    transition: .1s;
    color: var(--red);
    background-color: var(--pink);
}

.about .about-text::selection {
    color: var(--red);
    background: var(--pink);
}

.about .section-title::selection {
    color: var(--red);
    background: var(--pink);
}

.about .section-content::selection {
    color: var(--red);
    background: var(--pink);
}

.about .section-content-timeline::selection {
    color: var(--red);
    background: var(--pink);
}

/* PROJECTS PAGES */
.project {
    background-color: var(--true-black);
}

.project header {
    background-color: transparent;
}

.project header nav ul li {
    color: var(--white);
}

.project .project-image img {
    width: 100%;
    height: auto;
    display: block;
}

.project .project-content {
    padding-top: 1.5rem;
    background-color: var(--true-black);
}

.project .project-content section {
    padding: 1.5rem 0;
}

.project .project-title {
    color: var(--white);
    line-height: 1.4rem;
}

@media(max-width: 576px) {
    .project .project-title {
        margin-bottom: 1.2rem;
    }
}

.project .project-description {
    color: var(--white);
    line-height: 1.4rem;
}

.project .project-gallery img {
    width: 100%;
    height: auto;
    display: block;
}

.project .project-gallery img+img {
    margin-top: 1.5rem;
}

.project .project-gallery .video {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    margin-top: 1.5rem;
}

.project .project-gallery .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;



}

.project .project-title::selection {
    color: var(--red);
    background: var(--pink);
}

.project .project-description::selection {
    color: var(--red);
    background: var(--pink);
}


/* FOOTER */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 3rem;
    padding: 0 1.5rem;

    font-size: 1.4rem;
    text-transform: capitalize;
}

footer ul {
    display: flex;
    list-style: none;
}


footer .contact::selection {
    color: var(--red);
    background: var(--pink);
}